:host {
    --header-bg-color: cornflowerblue;
    --text-color: white;
}

header {
    width: 100vw;
    background-color: var(--header-bg-color);
    height: 80px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

header div {
    width: 450px;
    height: 60px;
    line-height: 60px;
    color: var(--text-color);
}

.logo {
    text-align: start;
}

.menu {
    text-align: end;
}

.menu li {
    display: inline;
    margin: 0 0 0 15px;
}

